
@import url('https://fonts.googleapis.com/css?family=Crafty+Girls|Delius+Swash+Caps|Walter+Turncoat|Kavivanar');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous|Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@font-face {
	font-family: 'UniversalAcc';
	src: url('assets/MovieFont/Uni_acc.ttf')format('truetype');
}



@font-face{
	font-family: 'MGSFont';
	src: url('assets/MGSFont/mgs2.ttf') format('truetype');
}



html, body {
    max-width: 100%;
    background: whitesmoke;
}

nav {
    top:0;
    background: #DF2935;
    position: fixed;
    left:0;
    right:0;
    z-index:8;
    text-align:center;
}

ul#nav-links {
   list-style-type: none;
    margin: 10px auto;
    padding: 0;
    font-family: 'Permanent Marker', sans-serif;

}

#nav-links li a {
    color: #63B0CD;
    font-size:3vw;
}


li.nav-link {
    display:inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

nav.hidden {
    display: none;
}

main {
    background: whitesmoke;
}

/*
section{
    margin-bottom:3vw
}
*/
.credits, .stackIconBox {
    margin-bottom: 4vw;
}

p#contactStart {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 8vw;
    text-align:center;
    padding-top:4vw;
}

section.intro {
    position: relative;
    height: 100vh;
    
}

h4#projectStart {
    text-align:center;
        font-size: 8vw;
    font-family: 'Permanent Marker', sans-serif;
    margin-top: 3vw;
    padding-top: 8vw;
}

section.about {
    background: whitesmoke;
    height:auto;
}

#about{
    padding-top:10vw;
}

p#aboutMeStart {
    font-weight: bolder;
    font-size: 5vw;
    font-family: 'Permanent Marker', sans-serif;
}

p#meParagraph {
    font-size:4.4vw;
}

div#title{
        font-family: 'Permanent Marker', sans-serif;
    position: relative;
    top: 8%;
    z-index: 10;
    /* left: 40%; */
    font-size: 9vw;
    display: inline-block;
    text-align: center;
    margin: auto;
/*    border: dotted white;*/
    width: auto;
    margin: auto 15%;
    min-width: 60%;
}

div#title span {
    color:#63B0CD;
    text-shadow: .3vw .3vw .3vw #DF2935;
}

div#title small {
    display:inherit;
    font-size: 35%;
    color: silver;
}

img#adrian {
    height: auto;
    max-height:40vw;
    position: relative;
    float: left;
    margin-bottom:3vw;
    margin-right: 3vw;
}

div.col.aboutMe {
    padding: 5vw;
    font-size:1.7vw;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
}

.project1{
    background:black;
/*        height: 69vh;*/
    height:auto;
}

p.dpadText {
    font-family: 'MGSFont', sans-serif;
    display:inline
    
}

p.dpadText, span#dpadSpan {
    font-size: 22vw;
        color: white;
        text-shadow: .7vw .7vw .2vw #63B0CD;
}

section.appInfo {
    background: black;
}

.DPblurb {
        font-family: 'Open Sans Condensed', serif;
    font-size: 6vw;
    color: #63B0CD;
    
}

img#dpad{
    height:16vw
}

#dpadButton {
    
	transform: rotate(30deg);
	border-radius: 3vw;
	border-style:groove;
	border-width: 3vw;
	border-color: #494F79;
	animation-name: rotateButton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    position: relative;
    top: 3vw;
}

#dpStack {
    position: relative;
    left:-2vw;
}

.project2 {
/*    height: 95vh;*/
    height:auto;
}

#bookworm {
	height: 18vw;
/*	transform: rotate(-20deg);
*/	border-radius: 2vw;
}

#bookwormFrame {
	    border: solid white;
    background: black;
    margin-bottom: 1vw;
    margin-top: 4vw;
    position: relative;
    right: 43vw;
    width: max-content;
}

.MBblurb{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 5.7vw;
}

img#marvelLogo {
	height: 22vw;
	display: inline;
}

h2#marvelousBookwormSuffix{
	    font-size: 4.9vw;
    color: white;
    display: inline;
    font-family: 'Comfortaa', sans-serif;
    position: relative;
    top: .5vw;
}



#bookwormButton {
    position: relative;
    top: 35vw;
	transform: rotate(-20deg);
	border-radius: 3vw;
	border-style: groove;
	border-width: 3vw;
	border-color: #DF2935;
	animation-name: rotateButton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate-reverse;
}

section.bookwormInfo {
    background: whitesmoke;
    border: 0;
}

#mbStack {
    position: absolute;
    right: -6vw;
    background: whitesmoke;

}

section.project3 {
    background: black;
    margin-top: 15vw;
    height:auto;
}

img#gdc {
    height: 18vw;
}

.gdcDetails{
    background:black;
}

p#gdcTitle{
    font-family: 'Crafty Girls', cursive;
	font-weight: bolder;
	color: #DF2935;
	transform: rotate(-5deg);
	margin-bottom: 3vw;
    font-size: 5.7vw;
    margin-top: 6vw;
}

#gdcButton{
    transform: rotate(20deg);
    border-radius: 3vw;
    border-style: groove;
    border-width: 3vw;
    border-color: #8FC0A9;
    animation-name: rotateButton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    left: 54vw;
    top: -126vw;
}

section.gdcStack {
    position:relative;
    left: -10vw;
    background:black;
}

span.GDCblurb {
    font-family: 'Open Sans Condensed', sans-serif;
    color: whitesmoke;
    font-size: 5.7vw;
}


.credits {
	font-family: 'UniversalAcc', sans-serif;
	font-size: 8vw;
	color: white;
}

.blackCredits {
    font-family: 'UniversalAcc', sans-serif;
    font-size: 8vw;
    color:black;
}

section.stackIconBox {
	display:inline-flex;
    border:0;

}

.stackIcon {
	max-height: 8.5vw;
	margin: auto 1.5vw;
}

section.footer {
    height: auto;
}

footer{
    margin-top: 5vw;
    width: auto;
    margin: auto 5%;
    min-width: 90%;
}

#gitHubLink p {
    margin-bottom: 9vw;
}

#gitHubLink p, #linkedInLink p {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 5vw;
}

a#gitHubLink, a#linkedInLink {
    color: #63B0CD;
}

img#gitHubIcon {
    float:right;
    height: 18vw;
    
}

img#linkedInIcon {
    float:right;
    clear: right;
    height:7vw;
}

#email{
    margin-top: 3vw;
}

#email, #salutation {
    text-align: center;
    display: inherit;
    font-size: 7vw;
    font-family: 'Open Sans Condensed', sans-serif
}
@keyframes rotateButton {
	0% {transform:rotate(0deg);}
	25% {transform:rotate(-7deg);}
	50%{transform:rotate(0deg);}
	75%{transform: rotate(7deg);}
	100%{transform: rotate(0deg);}
}

@media only screen and (min-width:1000px) {
    div#title {
        font-size: 5vw;
        width:auto;
        margin:auto 20%;
        min-width: 60%;
        
    }
    
    img#adrian{
        height:15vw;
    }
    
    p#meParagraph {
        font-size: 1.5vw;
    }
    
    p.dpadText, span#dpadSpan {
    font-size: 8vw;
        color: white;
        text-shadow: .2vw .2vw .2vw #63B0CD;
}
    span.DPblurb{
        font-size:2vw;
    }
    
    button#bookwormButton {
        top: 15vw;
    }
    .MBblurb{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2vw;
    }
    
    img#marvelLogo {
        height: 9vw;
    }
    h2#marvelousBookwormSuffix {
        font-size: 2.5vw;
    }
    
    span.GDCblurb {
        font-size: 2vw;
    }
    
    #gdcButton {
        left: 60vw;
        top: -37vw;
    }
    
    section.gdcStack {
        left: -2vw;
    }
    
   .stackIcon {
	max-height: 4.5vw;
	margin: auto 1.5vw;
}
    
    
    small.credits {
        font-size:3vw;
    }
    
    section.footer {
        height: 100vh;
    }
    
    #gitHubLink p, #linkedInLink p {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3vw;
    }
    
    img#linkedInIcon {
        height: 4vw;
    }
    
    img#gitHubIcon {
        height: 10vw;
    }
    
    #email, #salutation {
        text-align: center;
    display: inherit;
    font-size: 2.5vw;
    font-family: 'Open Sans Condensed', sans-serif;
    }
    
    #gitHubLink p {
        margin-bottom: 3vw;
    }
    
    p#contactStart {
        padding-top: 8vw;
    }
    
    

}