@import url('https://fonts.googleapis.com/css?family=Crafty+Girls|Delius+Swash+Caps|Walter+Turncoat|Kavivanar');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous|Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@font-face {
	font-family: 'UniversalAcc';
	src: url('assets/MovieFont/Uni_acc.ttf')format('truetype');
}

@font-face {
	font-family: 'Gravity';
	src: url('assets/GravityFont/Gravity.ttf') format('truetype');
}

@font-face{
	font-family: 'MGSFont';
	src: url('assets/MGSFont/mgs2.ttf') format('truetype');
}

html, body {
/*	background: url('assets/abstractVectorBlueMeshBackgroundChaoticPointsPolygons/653.jpg');
/*background: url('assets/seamlessTextureWithRandomlySpacedPoints/29.jpg');
*/
background: url('assets/polygonalLinesOnWhiteBackground/6452.jpg');
background-size: cover;
background-position-y: 41vw;
}

.credits {
	font-family: 'UniversalAcc', sans-serif;
	font-size: 4vw;
	color: white;
}

section.stackIconBox {
	display:inline-flex;
}

.stackIcon {
	max-height: 2.5vw;
	margin: auto .5vw;
}

header{
	text-align: center;
	font-family: 'Permanent Marker', serif;
	color: #63CCCA;
	background: rgba(0,0,0,0.7);
}

header h3 {
	font-weight:bolder;
	font-size:10vw;
}

header span {
	font-size: 6vw;
}

header h1 {
	font-size: 7vw;
    color: whitesmoke;
    text-shadow: -0.3vw -0.3vw lightslategrey;
    font-style: italic;
}

section.intro part{
    @import compass


// n is number of stars required
@function multiple-box-shadow ($n) 
  $value: '#{random(2000)}px #{random(2000)}px #FFF'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

  @return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)

html
  height: 100%
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
  overflow: hidden
    
#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation			: animStar 50s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small
    
#stars2
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-medium
  animation			: animStar 100s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium
    
#stars3
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-big
  animation			: animStar 150s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-big

#title
  position: absolute
  top: 50%
  left: 0
  right: 0
  
  color: #FFF
  text-align: center
  font-family: 'lato',sans-serif
  font-weight: 300
  font-size: 50px
  letter-spacing: 10px
  
  margin-top: -60px
  padding-left: 10px
  
  span
    background: -webkit-linear-gradient(white, #38495a)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    
@keyframes animStar
  from	
    transform: translateY(0px)
  to		
    transform: translateY(-2000px)
    
}

.container {
	padding: 2vw;
	margin-bottom: 4vw;
}

#adrian {
	max-height: 20vw;
	border-radius: 3vw;
}

#adrianButton {
	transform: rotate(-13deg);
	border-radius: 3vw;
	border-style: groove;
	border-width: 3vw;
	border-color: #63CCCA;
	animation-name: rotateButton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate-reverse;
}

#aboutMeStart {
	font-family: 'Permanent Marker', sans-serif;
	color: #f8f8f8;
}

.aboutMe {
	font-size: 2.2vw;
}

.meBlurb {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

#dpad{
	height: 13vw;
/*    transform: rotate(30deg);
*/    border-radius: 3vw;
display: inline;
}

.dpadTitle {
	display: inline;
}

.dpadText {
	font-family: 'MGSFont', serif;
	font-size: 13vw;
	color: white;
	display: inline;
	text-shadow: .3vw .6vw #80aba9;
}

.DPblurb {
	font-family: 'Open Sans Condensed', serif;
	font-size: 2.2vw;
	color:#7CFEF0;
	position: relative;
	bottom: 3vw;
}

#dpadSpan {
	font-size: 11vw;
		color:white;
text-shadow: .3vw .6vw #80aba9;
}

#hyphen {
	font-family: arial;
	font-size: 13vw;
	display: inline;
}

#dpadButton {
	transform: rotate(30deg);
	border-radius: 3vw;
	border-style:groove;
	border-width: 3vw;
	border-color: navy;
	animation-name: rotateButton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#bookworm {
	height: 14vw;
/*	transform: rotate(-20deg);
*/	border-radius: 2vw;
}

#bookwormFrame {
	border: solid white;
	background:black;
	margin-bottom:1vw;
}

.MBblurb{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #F1BF98;
	font-size: 2vw;
}

#bookwormButton {
	transform: rotate(-20deg);
	border-radius: 3vw;
	border-style: groove;
	border-width: 3vw;
	border-color: #ff0022;
	animation-name: rotateButton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate-reverse;
}

img#marvelLogo {
	height: 6vw;
	display: inline;
}

h2#marvelousBookwormSuffix{
	font-size: 1.8vw;
	color:white;
	display: inline;
	font-family: 'Comfortaa', sans-serif;
	position: relative;
	top: .5vw;
}

#gdc {
	height: 15vw;
	border-radius: 2vw;
}

#gdcButton{
	transform: rotate(20deg);
	border-radius:3vw;
	border-style: groove;
	border-width: 3vw;
	border-color: #1a936f;
	animation-name: rotateButton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#gdcTitle{
	font-family: 'Crafty Girls', cursive;
	font-size: 4vw;
	font-weight: bolder;
	color: #ff0022;
	transform: rotate(-5deg);
	margin-bottom: 3vw;
	margin-top: 2vw;
}

.GDCblurb {
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	font-size: 2vw;
	color: #EF476F;
}

.dpDetails, .bmDetails, .gdcDetails, .aboutMe {
	background: black;
	box-shadow: 0px 0px 0px 5px black;
	transition: box-shadow 0.6s linear;
	margin: 0 .5em;
}

.dpDetails:hover, .bmDetails:hover, .gdcDetails:hover, .aboutMe:hover {box-shadow: 0px 0px 0px 10px black;}

@keyframes rotateButton {
	0% {transform:rotate(0deg);}
	25% {transform:rotate(-7deg);}
	50%{transform:rotate(0deg);}
	75%{transform: rotate(7deg);}
	100%{transform: rotate(0deg);}
}

footer {
	border: #63ccca dashed;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;
    border-radius: 1.4vw;
    padding: 1vw;
    font-size: 2.5vw;
    margin-top: 5vw;
}

a#gitHubLink, a#linkedInLink {
	display: inline-flex;
}

img#gitHubIcon {
	height: 5vw;
	margin-left: 1vw;
}

img#linkedInIcon {
	height:2vw;
	margin-left: 1vw;
	margin-top: 1vw;
}

@media only screen and (min-width: 1000px) {

	body {
		background-position-y: 10vw;
		background-repeat: no-repeat;
	}

	header h3 {
		font-weight: bolder;
		font-size: 3vw;
	}

	header span {
		font-size: 2vw;
	}

	header h1 {
		font-size: 2vw;
	}

	.container {
		padding: 2vw;
		margin-bottom: 0;
	}

	#adrian, #dpad, #bookworm, #gdc {
		max-height: 9vw;
		border-radius: 0;
	}

	button#adrianButton {
		position: absolute;
		left: -13vw;
	}

	button#dpadButton {
		position: relative;
		left: 50vw;
	}

	button#bookwormButton {
		position: absolute;
		left: -6vw;
		top:6vw;
		z-index: 1;
	}

	button#gdcButton {
		position: absolute;
		left: 51vw;
		top: 29vw;
/*		margin-left: 30vw;
*/	}

	.aboutMe, .DPblurb, .MBblurb, .GDCblurb {
		font-size: 1.8vw;
	}

	.DPblurb {
		bottom: 1vw;
	}

	p.dpadText, span#dpadSpan {
		font-size: 7vw;
		margin-bottom: 1vw;
	} 

	.credits {
		font-size: 2vw;
	}

	h2#marvelousBookwormSuffix {
		font-size: 1.5vw;
	}

	div.col-8.dpadTitle.dpDetails {
		position: absolute;
		left: 1vw;
	}

/*	div.col-7.bmDetails {
		position: absolute;
		margin-top: 7vw;
		right: 1vw;
	}*/
	div.col-7.bmDetails {
	    position: absolute;
	
    margin-top: 7vw;
    right: 15vw;
}
	div.col-8.gdcDetails {
		position: absolute;
		margin-top: 28vw;
		left: 1vw;
	}

	#gdcTitle {
		margin-top:0;
	}

	footer {
		margin-top: 53vw;
	    font-size: 2vw;
	    width: auto;
	    margin-left: 12%;
	    margin-right: 12%;
	    min-width: 75%;
		}
	}
}
