
@import url('https://fonts.googleapis.com/css?family=Crafty+Girls|Delius+Swash+Caps|Walter+Turncoat|Monoton|Kavivanar');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous|Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@font-face {
	font-family: 'UniversalAcc';
	src: url('assets/MovieFont/Uni_acc.ttf')format('truetype');
}

@font-face {
    font-family: '9T';
    src: url('assets/nineTwilightsFont/TT_OMNIB.ttf')format('truetype');
}

@font-face {
    font-family: 'Marvel';
    src: url('assets/marvelFont/BEBAS___.ttf');
}

@font-face {
    font-family: "SNES";
    src: url('assets/SNES Font/SNES Italic.ttf');
}


@font-face{
	font-family: 'MGSFont';
	src: url('assets/MGSFont/mgs2.ttf') format('truetype');
}

@media only screen and (max-height: 370px) and (max-width: 600px) {
    div#title{
        font-size: 5vw;
    }
}



html, body {
    max-width: 100%;
    background: whitesmoke;
}

a.readme:hover {
   color:gold;
    text-decoration: none;
}

nav {
    top:0;
    background: #8e1b22;
    position: fixed;
    left:0;
    right:0;
    z-index:18;
    text-align:center;
    width:auto;
}

ul#nav-links {
   list-style-type: none;
    margin: 10px auto;
    padding: 0;
    font-family: 'Permanent Marker', sans-serif;

}

#nav-links li a {
    color: #63B0CD;
    font-size:3vw;
    text-shadow: 2px 2px black;
}


li.nav-link {
    display:inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#nav-links li a:hover{
    color: #E8C547;
    text-decoration: none;    

}

nav.hidden {
    display: none;
}

main {
    background: whitesmoke;
}

/*
section{
    margin-bottom:3vw
}
*/
.credits, .stackIconBox {
    margin-bottom: 4vw;

}

.stackIconBox {
    align-items: center;
}



p#contactStart {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 8vw;
    text-align:center;
    padding-top:5.5vw;
    color: #333;
}

section.intro {
    position: relative;
    height: 100vh;
    
}

h4#projectStart {
    text-align:center;
        font-size: 5vw;
    font-family: 'Permanent Marker', sans-serif;
    margin-top: 3vw;
    padding-top: 8vw;
    color: #333;
}

section.about {
    background: whitesmoke;
    height:auto;
}

#about{
    padding-top:10vw;
}

p#aboutMeStart {
    font-weight: bolder;
    font-size: 5vw;
    font-family: 'Permanent Marker', sans-serif;
    color: #333;
}

p#meParagraph {
    font-size:3.4vw;
    color: #333;
}

div#title{
        font-family: 'Permanent Marker', sans-serif;
    position: relative;
    top: 25%;
    z-index: 10;
    /* left: 40%; */
    font-size: 9vw;
    display: none;
    text-align: center;
/*    border: dotted white;*/
    width: auto;
    margin: auto 15%;
    min-width: 60%;
}

div#title span {
    color:#63B0CD;
    text-shadow: .3vw .3vw .3vw #8e1b22;
}

div#title small {
    display:inherit;
    font-size: 35%;
    color: silver;
}

/*img#adrian {
    height: auto;
    max-height:40vw;
    position: relative;
    float: left;
    margin-bottom:3vw;
    margin-right: 3vw;
}*/
img#adrian{
    height: auto;
    max-height: 40vw;
    position: relative;
    /* float: left; */
    margin-bottom: 3vw;
    margin-right: 3vw;
    display: inline;
    /* text-align: center; */
    margin: auto 20%;
}

div.col.aboutMe {
    padding: 5vw;
    font-size:1.7vw;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
}

.project1{
    background:#333;
/*        height: 69vh;*/
    height:auto;

    display: grid;
    grid-template-columns: 5% 2fr 1fr 5%;
    grid-template-rows: .1fr .5fr .5fr .2fr;

    grid-template-areas:
    ". . . ."
    ". header image ."
    ". description image ."
    ". stack stack .";
}

#dPadTextDiv, #crosspadTextDiv {
    grid-area: header;
    justify-self: center;
}

#dPadAppInfo, #crosspadAppInfo{
    grid-area: description;
}

#dpStack, #crosspadStack {
    border-radius: 7vw;
    background: #9DA3A4;
    grid-area: stack;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .5rem;
    margin-top: .6rem;
    height: fit-content;
}


#dPadAWrapButton, #crosspadAWrapButton {
    grid-area: image;
    text-align:center;
}


p.dpadText, p.crosspadText {
    font-family: 'SNES', sans-serif;
    display:inline
    
}

p.dpadText, p.crosspadText, span#dpadSpan {
    font-size: 10vw;
        color: white;
        text-shadow: .7vw .7vw .2vw #63B0CD;
}

section.appInfo {
    background: #333;
}

.DPblurb, .crosspadBlurb {
        font-family: 'Open Sans Condensed', serif;
    font-size: 1.5rem;
    color: #63B0CD;
    
}

img#dpad, img#crosspad{
    height:15vw
}

#dpadButton, #crosspadButton {
    
	border-radius: 3vw;
	border-style:groove;
	border-width: 3vw;
	border-color: #494F79;
    cursor: pointer;
}

#dpadButton:hover, #nineTwilightsButton:hover {
    animation-name: rotateButton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



.project2, .project4, .project6 {
    height:auto;
    display: grid;
    grid-template-columns: 5% 2fr 1fr 5%;
    grid-template-rows: .1fr .5fr .5fr .2fr;

    grid-template-areas:
    ". . . ."
    ". image header ."
    ". . description ."
    ". stack stack .";
}

.project2 {
    grid-template-columns: 5% 2fr 3fr 5%;

}

#nocSection {
display: grid;
    grid-template-rows: .1fr .5fr .5fr .5fr;
    grid-template-areas: ". . . ." ". image header ." ". . description ." ". stack stack .";
    grid-template-columns: 5% 2fr 3fr 5%;

}


#nocVSInfo {
    grid-area: description;
}

#nocVSStack {
    background: #e8c547;
    /* border-radius: 7vw; */
    border-radius: 7vw;
    /* background: #9DA3A4; */
    grid-area: stack;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .5rem;
    margin-top: .6rem;
    height: fit-content;
}

#bookworm, #rcsImage {
	height: 15vw;
/*	transform: rotate(-20deg);
*/	border-radius: 2vw;
}

#bookwormFrame, #rCSTitleDiv {
	    border: solid white;
    background: #333;
    /* width: max-content; */
    grid-area: header;
    height: fit-content;
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo text";
    align-self: center;

}

#bookwormFrame {
    width: fit-content;
    justify-self: center;
    font-size: 6vw;
}

.bookwormInfo, #rCSAppInfo {
    grid-area: description;
}

.MBblurb{
	font-family: 'Open Sans Condensed', sans-serif;
    grid-area: description;
    font-size:1.2rem;
}

img#marvelLogo {
    display: inline;
    height:auto;
    max-height: 100%;
    width:auto;

}

#marvelousBookwormPrefix {
    background: red;
    font-family: 'Marvel', sans-serif;
    padding:0vw 0vw 0vw 1vw;
}

#marvelousBookwormSuffix{
	color: white;
    font-family: 'Marvel', sans-serif;
    grid-area: text;
    align-self: center;
    padding: 0 1vw 0 0;
}

#bookWormButtonAWrap, #rcsAWrapButton {
    grid-area: image;
    text-align:center;
}

#bookwormButton, #rcsButton {
	border-radius: 3vw;
	border-style: groove;
	border-width: 3vw;
	border-color: #8e1b22;
    cursor:pointer;	
}

#bookwormButton:hover {
    animation-name: rotateButton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}



#mbStack, #rcsStack {
    background: whitesmoke;
    border-radius: 7vw;
    /* border: solid white; */
    background: #e8c547;
    grid-area: stack;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .6rem;
    padding: .5rem;
    height: fit-content;

}


section.project3, .project5 {
    background: #333;
    height:auto;
    display: grid;
    grid-template-columns: 5% 2fr 1fr 5%;
    grid-template-rows: .1fr .5fr .5fr .2fr;

    grid-template-areas:
    ". . . ."
    ". header image ."
    ". description . ."
    ". stack stack .";
}

img#gdc {
    height: 15vw;
}

.gdcDetails{
    background:#333;
}

p#gdcTitle{
    font-family: 'Monoton', sans-serif;
	font-weight: bolder;
	color: #23c9ff;
    text-shadow: 0.2vh 1.2vh .2vh #8d3b72;
	transform: rotate(-5deg);
    font-size: 3rem;
    grid-area: header;
    margin-top: auto;
    margin-bottom: auto;
}

#gdcButtonAWrapper {
    grid-area: image;
}

#gdcButton{
        border-radius: 3vw;
    border-style: groove;
    border-width: 3vw;
    border-color: #8FC0A9;
    cursor: pointer;
}

#gdcButton:hover {
     animation-name: rotateButton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#rcsButton:hover {
    animation-name: rotateButton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}



section.gdcStack, .nineTwilightsStack {
   
    background:#333;
        border-radius: 7vw;
grid-area: stack;
    background: #9DA3A4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .5rem;
    padding: .6rem;
    align-items:center;
    height: fit-content;

}

span.GDCblurb {
    font-family: 'Open Sans Condensed', sans-serif;
    color: whitesmoke;
    font-size: 1.5rem;
    grid-area: description;
}

/*project 4 specific rules */
.project4 {
    grid-template-columns: 5% 1fr 2fr 5%;
}

#rCSTitleDiv {
    border: none;
    background: whitesmoke;
    width: auto;
    grid-area: header;
    height: fit-content;
    display: block;
}

#rCSTitleDiv h1 {
    font-family: 'Sonsie One', serif;
    text-shadow: .1rem .1rem red;
    font-size: 1.5rem;
}
#rCSTitleDiv h3 {
    font-family: 'Black Ops One', serif;
    border: solid;
    background: orange;
    translate: rotate(80deg);
    transform: rotate(-4deg);
    text-align: center;
}

#rCSAppInfo {
    background: whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
}

#rcsButton {
    border-color:navy;
}
/* end of project4 specific rules */

/*start of project5 rules*/
/* grid-template-areas:
    ". . . ."
    ". header image ."
    ". description . ."
    ". stack stack ."; */
#nineTwilightsHeaderDiv {
    grid-area:header;
    align-self:center;
}
#nineTwilightsTitle {
    /* grid-area: header; */
    font-family: '9T', sans-serif;
    color: white;
    font-size: 2.7rem;
    text-shadow: purple 0.2rem 0.51rem 2px;
    align-self:center;
    text-align:center;
}
#nineTwilightsHeaderDiv h3, .project3 h3 {
    font-family: 'Black Ops One', serif;
    border: solid;
    background: orange;
    translate: rotate(80deg);
    transform: rotate(-4deg);
    text-align: center;
    width: fit-content;
}
.nineTwilightsblurb {
    grid-area: description;
    color:whitesmoke;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.5rem;
}
#nineTwilightsButtonAWrapper{
    grid-area: image;
    justify-self: center;
}
#nineTwilightsButton {
    border-radius: 3vw;
    border-style: groove;
    border-width: 3vw;
    border-color: cyan;
    background: indianred;
    cursor: pointer;
}
.nineTwilightsStack {
    grid-area: stack;
}

#nineTwilightsImage {
    height: 15vw;
}



/*end of project 5 rules*/



/*credits rules*/

.blackCredits {
    font-family: 'UniversalAcc', sans-serif;
    font-size: 8vw;
    color:#333;
}


.stackIcon {
    max-height: 6.5vw;
}

section.footer {
    height: auto;
}

footer{
    margin-top: 5vw;
    width: auto;
    margin: auto 5%;
    min-width: 90%;
}



a#gitHubLink, a#linkedInLink {
  margin: auto 35%;
    text-decoration: none;
}

img#gitHubIcon {
        height: 4vw;
    margin-bottom: 3vw;
    position: absolute;
    top: 0;
    right: 51%;
    
}

img#linkedInIcon {
    height: 4vw;
    position: absolute;
    top: 0;
    left: 51%;
}

#email{
    margin-top: 3vw;
}

#email, #salutation {
    text-align: center;
    display: inherit;
    font-size: 5vw;
    font-family: 'Open Sans Condensed', sans-serif
}
@keyframes rotateButton {
	0% {transform:rotate(0deg);}
	25% {transform:rotate(-7deg);}
	50%{transform:rotate(0deg);}
	75%{transform: rotate(7deg);}
	100%{transform: rotate(0deg);}
}



@media only screen and (min-width:750px) {
    div#title {
        font-size: 5vw;
        width:auto;
        margin:auto 20%;
        min-width: 60%;
        top:10%
        
    }

   
    
    img#adrian{
        margin:0;
        height:15vw;
    max-height:40vw;
    position: relative;
    float: left;
    margin-bottom:3vw;
    margin-right: 3vw;

    }
    
    p#meParagraph {
        font-size: 1.5vw;
        color: #333;
    }
    
    p.dpadText, span#dpadSpan {
    font-size: 8vw;
        color: white;
        text-shadow: .2vw .2vw .2vw #63B0CD;
}
    span.DPblurb{
        font-size:2vw;
    }
    
    /* #bookwormFrame {
        left:0%;
    } */
    
    
    /* .MBblurb{
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2vw;
    background: whitesmoke;
    }
    
    img#marvelLogo {
        height: 9vw;
    }
    h2#marvelousBookwormSuffix {
        font-size: 2vw;
    } */
    
    
    span.GDCblurb {
        font-size: 2vw;
        padding-right: 20%;
    }
    
    
    
    section.gdcStack {
        left: -2vw;
    }
    
   .stackIcon {
	max-height: 3vw;
	margin: auto 1.5vw;
}
     
    
    small.credits {
        font-size:3vw;
    }
    
    section.footer {
        height: auto;
    }
    
    #gitHubLink p, #linkedInLink p {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3vw;
    }
    
    img#linkedInIcon {
            height: 2vw;
    position: absolute;
    top: 0;
    left: 50%;
    }
    
    img#gitHubIcon {
        height: 2vw;
    position: absolute;
    top: 0;
    right: 51%;
    }
    
    #email, #salutation {
        text-align: center;
    display: inherit;
    font-size: 2vw;
    font-family: 'Open Sans Condensed', sans-serif;
    }
    
    #gitHubLink p {
        margin-bottom: 3vw;
    }
    
    p#contactStart {
        padding-top: 8vw;
        font-size: 5vw;
        color:#333;
    }
    
    a#gitHubLink, a#linkedInLink {
  margin: auto 42%;
        text-decoration: none;
}
    
    

}

/* 
@media only screen and (min-width:500px) and (max-height:700px) {
    
    div#title{
        font-size:4.4vw;
    }


    
} */

